body{
    background-color: lightblue;
}

header h1{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin: 40px 0 30px;
    font-family: 'Inter', sans-serif;
}

.txt_area{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.caixa_de_texto{
    width: 48%;
    height: 300px;
    font-size: 1rem;
    font-family: 'Inter';
    border-style: none;
    border-radius: 8px;
}

.texto_cripto{
    width: 48%;
    height: 300px;
    font-size: 1rem;
    font-family: 'Inter';
    border-radius: 8px;
    border-style: none;
}

div p{
    margin-top: 30px;
    margin-left: 50px;
    border-left: solid red;
    font-family: 'Inter';
    
}

.botoes{
    margin-left: 50px;
    margin-top: 30px;
}

.botao_cripto{
    padding:20px 60px;
    font-size: 1rem;
    background: black;
    color: aliceblue;
    border-style: none;
    border-radius: 4px;
}
.botao_cripto:hover{
    cursor: pointer;
    background: darkred;
}

.botao_descri{
    padding:20px 60px;
    font-size: 1rem;  
    background: black;
    color: aliceblue;
    border-style: none;
    border-radius: 4px;
    margin-left: 20px;
}
.botao_descri:hover{
    cursor: pointer;
    background-color: darkblue;
}

.rodape{
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 24px;
    font-size: 12px;
}